body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #0776A0;
    display: flex;
    align-items: center;

}

header p {
    color: black;
    background-color: white;
    border: 2px solid black;
}
h1 {
   text-align: center;
}
.img1 {
    width: 30%;
}
h2 {
 color: #FF2C00;
 margin-left: 20px;
}

.title-2 {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    padding-top: 32px;
    padding-bottom: 52px;

}
 footer p {
    font-size: 24px;
    color: white;
 }
 footer {
  background: #024C68;
  padding-top: 36px;
  padding-left: 79px;
  padding-bottom: 30px;
 }
 .Photos {

 }

header a {
   border-radius: 10px;
   background-color: #FFB600;
   margin-left: 15px;
   text-decoration: none;
   padding: 5px;
   color: black;
}
